/* ==========================================================================
   #PAGE
   ========================================================================== */

@use "tools";

/**
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Ensure the page always fills at least the entire height of the viewport.
 */

@layer elements {

  :root {
    overflow-y: scroll; /* [1] */
    min-height: 100%; /* [2] */
    font-size: 1em;
    font-family: IBM Plex Sans, sans-serif;
    font-feature-settings:
      "kern" 1,
      "liga" 1,
      "calt" 1;
    line-height: 1.55;
    font-weight: tools.fw(regular);
    -webkit-tap-highlight-color: transparent;
    overflow-wrap: break-word;
    background-color: tools.sem-color(background);
    color: tools.sem-color(text);
    @include tools.theme-transition(background-color color);
    -webkit-font-smoothing: antialiased;

    @include tools.ms-respond(--menu-item-font-size, .75);
    --site-menu-height: calc(#{tools.sp()} * 2 + var(--menu-item-font-size) * 1.25);

    @include tools.mq($until: lg) {
      padding-bottom: var(--site-menu-height);
    }
  }

}
