<header class="site-header" id="site-header">

  <div class="col-full-with-padding">

    <div class="site-toolbar container">

      <a href="{{ site.baseurl }}/" class="c-button">
        {% include svg/back.svg %}
      </a>


      <div class="site-title">
        <a class="site-title-link ts-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <button role="switch" aria-checked="false" aria-label="Dark Theme" class="c-button js-theme-toggle">
        {% include svg/dark-toggle.svg %}
      </button>
    </div>

  </div>

</header>
