<header class="c-site-header" id="site-header">

  <div class="o-wrapper-l">

    <div class="c-site-header__main">

      <div class="c-site-header__logo">
        <a class="c-site-header__logo-link ts-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="c-site-header__menu">
        {% include "components/components.site-menu.html" %}
      </div>

      <div class="c-site-header__darkmode">
        <button role="switch" aria-checked="false" aria-label="Dark Theme" class="c-button c-button--dark-theme js-theme-toggle">
          {% include "svg/dark-toggle.svg" %}
        </button>
      </div>
    </div>

  </div>

</header>
