<article class="c-work-card">
  <a
    class="c-work-card__link"
    href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}"
  >

    {% if post.data.image %}
    <div class="c-work-card__thumbnail c-image-background"
      style="--img-bg-light: {{ post.data.color_light }}; --img-bg-dark: {{ post.data.color_dark }};">
      {% if post.data.image.main %}
        <img src="{{ post.data.image.main }}" alt="{{ title }}" />
      {% elsif post.data.image.json %}
        {% card-image post.data.image.json %}
      {% endif %}
    </div>
    {% endif %}

    <div class="c-work-card__content">
      <h2 class="c-work-card__title ts-title">{{ post.data.title }}</h2>
    </div>
  </a>
</article>
