<div class="c-twitter-profile">
  <div class="c-twitter-profile__header">
  </div>
  <div class="c-twitter-profile__main">
    <div class="c-twitter-profile__profile-picture">
      {% include "svg/twitter/dale-icon.svg" %}
    </div>
    <div class="c-twitter-profile__info">
      <a href="https://twitter.com/dalestillmane" target="_blank" class="c-twitter-profile__link">
        <span class="c-twitter-profile__name">Dale Stillman</span>
        <span class="c-twitter-profile__screen-name ts-body-2">@dalestillmane</span>
      </a>
      <p class="c-twitter-profile__bio ts-body-2">I mostly retweet stuff about design, technology, and the web.</p>
    </div>
  </div>
</div>
