<nav class="c-site-menu">
  <ul class="c-site-menu__list">
    {% for item in site_menu %}
      <li class="c-site-menu__item">
        <a
          href="{{item.link}}"
          class="
            c-site-menu__link
            ts-menu-item
            {% if item.slug == page.fileSlug %}is-active{% endif %}
            {% if item.link == parent.link %} is-parent{% endif %}
          "
        >
          {{item.title}}
        </a>
      </li>
    {% endfor %}

    {% if page.fileSlug == "drafts" or parent.link == "/drafts/" %}
      <li class="c-site-menu__item">
        <a
          href="{{parent.link}}"
          class="
            c-site-menu__link
            ts-menu-item
            {% if 'drafts' == page.fileSlug %}is-active{% endif %}
            {% if '/drafts/' == parent.link %} is-parent{% endif %}
          "
        >
          Drafts
        </a>
      </li>
    {% endif %}
    {% if page.fileSlug == "draft-posts" or parent.link == "/draft-posts/" %}
      <li class="c-site-menu__item">
        <a
          href="{{parent.link}}"
          class="
            c-site-menu__link
            ts-menu-item
            {% if 'draft-posts' == page.fileSlug %}is-active{% endif %}
            {% if '/draft-posts/' == parent.link %} is-parent{% endif %}
          "
        >
          Draft Posts
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
