<div class="c-institution">
  <div class="c-institution__logo-container">
    <div class="c-institution__logo">
      {% include "svg/institutions/" + institution.data.icon  + ".svg" %}
    </div>
  </div>
  <div class="c-institution__content">
    <h3 class="c-institution__title">{{ institution.data.title }}</h3>
    <p class="c-institution__description ts-body-2">{{ institution.data.description }}</p>
    {% for experience in institution.data.experiences %}
      <div class="c-institution__experience">
        <h4 class="c-institution__title">{{ experience.data.title }}</h4>
        <p class="c-institution__description ts-body-2 u-margin-bottom-small">{{ experience.data.start_date }} - {{ experience.data.end_date }}</p>
        {{ experience.content | safe }}
      </div>
    {% endfor %}

    {{ institution.content | safe }}
  </div>
</div>
