<div class="c-site-menu">

  <nav class="c-site-menu__nav">
    <ul class="c-tab-menu c-tab-menu--at-bottom-until-lg">
      {% for item in site_menu %}
        <li class="c-tab-menu__item
            {% if item.slug == page.fileSlug %}is-active{% endif %}
            {% if item.link == parent.link %} is-parent{% endif %}">
          <a href="{{item.link}}" class="c-tab-menu__link">
            {{item.title}}
          </a>
        </li>
      {% endfor %}

      {% if page.fileSlug == "drafts" or parent.link == "/drafts/" %}
        <li class="c-tab-menu__item
            {% if 'drafts' == page.fileSlug %}is-active{% endif %}
            {% if '/drafts/' == parent.link %} is-parent{% endif %}">
          <a
            href="{{parent.link}}"
            class="c-tab-menu__link">
            Drafts
          </a>
        </li>
      {% endif %}
      {% if page.fileSlug == "draft-posts" or parent.link == "/draft-posts/" %}
        <li class="c-tab-menu__item
            {% if 'draft-posts' == page.fileSlug %}is-active{% endif %}
            {% if '/draft-posts/' == parent.link %} is-parent{% endif %}">
          <a
            href="{{parent.link}}"
            class="
              c-tab-menu__link

            "
          >
            Draft Posts
          </a>
        </li>
      {% endif %}
      {% if page.fileSlug == "cached" or parent.link == "/cached/" %}
        <li class="c-tab-menu__item
            {% if 'cached' == page.fileSlug %}is-active{% endif %}
            {% if '/cached/' == parent.link %} is-parent{% endif %}">
          <a
            href="{{parent.link}}"
            class="
              c-tab-menu__link

            "
          >
            Cached
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
