<article class="c-work-card">
  <a
    class="c-work-card__link"
    href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}"
  >

    <div class="c-work-card__thumbnail c-image-background"
      style="--img-bg-light: {{ post.data.image.color_light }}; --img-bg-dark: {{ post.data.image.color_dark }};">
      <img src="{{ post.data.image.main }}" alt="{{ title }}" />
    </div>

    <div class="c-work-card__content">
      <h2 class="c-work-card__title ts-title">{{ post.data.title }}</h2>
    </div>
  </a>
</article>
