<ul class="c-social-menu">
  <li class="c-social-menu__item"><a class="c-social-menu__link" target="_blank" href="https://twitter.com/{{site.twitter_username}}">{% include svg/social/twitter.svg %}</a></li>
  <li class="c-social-menu__item"><a class="c-social-menu__link" target="_blank" href="https://instagram.com/{{site.instagram_username}}/">{% include svg/social/instagram.svg %}</a></li>
  <li class="c-social-menu__item"><a class="c-social-menu__link" target="_blank" href="https://github.com/{{site.github_username}}">{% include svg/social/github.svg %}</a></li>
</ul>
