<header class="c-site-header" id="site-header">

  <div class="o-wrapper-wide">

    <div class="c-site-header__main">

      <div class="c-site-header__back-button">
        <a href="{{ site.baseurl }}/" class="c-button">
          {% include svg/back.svg %}
        </a>
      </div>

      <div class="c-site-header__site-title">
        <a class="c-site-header__site-title-link ts-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <div class="c-site-header__darkmode">
        <button role="switch" aria-checked="false" aria-label="Dark Theme" class="c-button js-theme-toggle">
          {% include svg/dark-toggle.svg %}
        </button>
      </div>
    </div>

    <div class="c-site-header__tabbar">
      <div class="c-site-header__menu">
        {% include components/components.site-menu.html %}
      </div>
      <div class="c-site-header__social">
        {% include components/components.social-menu.html %}
      </div>


    </div>

  </div>

</header>
