<div class="c-twitter-profile">
  <div class="c-twitter-profile__profile-picture">
    {% include "svg/twitter/dale-icon.svg" %}
  </div>
  <div class="c-twitter-profile__info">
    <a href="https://twitter.com/dalestillmane" target="_blank" class="c-twitter-profile__link">
      <span class="c-twitter-profile__name">Dale Stillman</span>
      <span class="c-twitter-profile__screen-name">@dalestillmane</span>
    </a>
    <p class="c-twitter-profile__bio">I mostly retweet stuff about technology, web, and design.</p>
  </div>
</div>
