/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

@use "tools";

.c-breadcrumb {
  margin-bottom: tools.sp(micro);
}

  .c-breadcrumb__item {
    @include tools.ms-respond(font-size, .75);
    font-weight: tools.fw(semibold);
    line-height: 1.25;
    text-decoration: none;
    color: tools.sem-color("text-3");

    &:hover {
      color: tools.sem-color("text") !important;
    }
  }
