/* ==========================================================================
   #POLAROID
   ========================================================================== */

@use "settings";
@use "tools";

:root {
  --polaroid-width: 240px;
  --polaroid-border: 8px;
  --polaroid-border-bottom: 8px;
  --polaroid-radius: var(--rounded-radius);

  @include tools.mq($until: 480px) {
    --polaroid-width: #{240px * .67};
    --polaroid-border: #{8px * .67};
    --polaroid-border-bottom: #{8px * .67};
    --polaroid-radius: calc(var(--rounded-radius) / 2);
  }

  @include tools.mq($from: 480px, $until: lg) {
    --polaroid-width: #{240px * .75};
    --polaroid-border: #{8px * .75};
    --polaroid-border-bottom: #{8px * .75};
    --polaroid-radius: calc(var(--rounded-radius) / 2);
  }
}

.c-polaroid {
  width: var(--polaroid-width);
  padding: var(--polaroid-border) var(--polaroid-border) var(--polaroid-border-bottom);
  background-color: tools.color("white");
  box-shadow: var(--shadow-3);
  @include tools.theme-transition(box-shadow);
  border-radius: var(--polaroid-radius);
}

  .c-polaroid__background {
    background-color: tools.color("blue-grey-900");
    border-radius: calc(var(--polaroid-radius) / 1.5);
  }

  .c-polaroid__img {
    border-radius: calc(var(--polaroid-radius) / 1.5);
    opacity: 1;
    filter: saturate(1);
    transition:
      opacity 1s settings.$sharp-easing,
      filter 1.5s settings.$sharp-easing;

    &.invisible {
      opacity: 0;
      filter: saturate(.2);
      transition: none;
    }
  }
