/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
  border-left: 2px solid sem-color(border);
  transition: border-color $theme-transition;
  padding: 0 0 0 sp();

  @include mq($from: sm) {
    padding: 0 0 0 sp(large);
  }

  > p {
    @include ms-respond(font-size, .9);
    line-height: 1.65;
  }
}
