/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: sem-color(link);
  }
}
