/* ==========================================================================
   #PAGE
   ========================================================================== */

:root {
  background-color: sem-color(background);
  color: sem-color(text);
  @include theme-transition(background-color color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1;
  line-height: 1.55;
  font-weight: 425;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
