/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
  border-left: sp(xxmicro) solid sem-color(quote-border);
  @include theme-transition(border-color);
  padding: 0 0 0 sp();

  @include mq($from: sm) {
    padding: 0 0 0 sp(large);
  }

  > p {
    @include ms-respond(font-size, .875);
    line-height: 1.65;
  }
}
