---
layout: default
title: "Blog"
order: 2
category: blog
---


<header class="page-header container col blog-header">
  <h1 class="page-title">{{ page.title }}</h1>
</header>

<div class="post-list">
  {% assign posts = site.categories.["blog"] | concat: site.categories["links"] | sort: 'date' | reverse %}
  {% for post in posts %}
    <div>
      {% if post.category == 'links' %}
        {% include link_post.html %}
      {% elsif post.category == 'blog' %}
        {% include blog_post.html %}
      {% endif %}
    </div>
  {% endfor %}
</div>
