@use "settings";

/**
 * Helper mixin to add theme transition styles.
 */
@mixin theme-transition($properties) {
  $current_selector: &;

  $val: ();

  @for $i from 1 through length($properties) {
    $p: nth($properties, $i);
    $val: append($val, $p);
    $val: append($val, settings.$theme-transition);

    @if $i !=length($properties) {
      $val: append($val, unquote($string: ","));
    }
  }

  @at-root {

    @if is-superselector($current_selector, ":root") {

      #{$current_selector}.is-transitioning {
        transition: $val;
      }
    }
    @else {

      :root.is-transitioning {

        #{$current_selector} {
          transition: $val;
        }
      }
    }
  }

}
