$spacing-directions: (
  null:          null,
  "-top":        "-top",
  "-right":      "-right",
  "-bottom":     "-bottom",
  "-left":       "-left",
  "-vertical":   "-top" "-bottom",
);

$spacing-properties: (
  "padding":     "padding",
  "margin":      "margin",
);

/**
 * Exponents used in spacing system. e.g. 1.5^x
 */
$spacing-unit-sizes: (
  xxmicro:       -4.5,
  xmicro:        -4,
  micro:         -3,
  tiny:          -2,
  small:         -1,
  null:           0,
  large:          1,
  xlarge:         2,
  xxlarge:        3,
  xxxlarge:       4,
  xxxxlarge:      5,
);


// ratio not being used here at present.
$spacing_scale: (
  20rem: (
    base: rem(18px),
    ratio: 1.4
  ),
  60rem: (
    base: rem(20px),
    ratio: 1.5
  ),
);
