/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: sem-color(text-2);
  }
}
