<header class="site-header" id="site-header">

  <div class="col-full">

    <div class="site-toolbar container">

      <div class="site-title">
        <a class="site-title-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>

      <nav class="site-nav">
        <ul>
          <li><a href="/#work" class="site-nav--link">Work</a></li>
          {% if page.url == '/blog' %}
            <li class="active"><a href="/blog" class="site-nav--link">Blog</a></li>
          {% else %}
            <li><a href="/blog" class="site-nav--link">Blog</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>

  </div>

</header>
