@import 'node_modules/sass-material-colors/sass/sass-material-colors';

// dark mode
$code-main-text: #eceff1;
$background-color:  material-color('blue-grey', '900');
// 2% less light than material blue-grey 900
$background-color:  #212b31;
$text-color:        #fff;
$grey-light:        rgba(255, 255, 255, .7);
$grey:              rgba(255, 255, 255, .5);
$grey-disabled:     rgba(255, 255, 255, .4);
$border-color:      rgba(255, 255, 255, .12);
$code-background:   material-color('blue-grey', '800');
// bit darker
$code-background:   #2b3940;

.t-dark {
  .site-header {
    background-color: $code-background;
  }

  & {
    background-color: $red-light;
  }

  body {
    background-color: $background-color;
    color: $text-color;
  }

  figcaption {
    color: $grey;
  }

  code {
    background: $code-background;
  }

  blockquote {
    border-color: $border-color;
  }

  .highlight {
    background: $code-background;
    color: $code-main-text;
  }

  .post-meta {
    color: $grey;
  }

  .site-title-link {
    color: $text-color;
  }

  .site-toolbar,
  .site-nav a {
    color: $grey-light;
  }

  .post-link {
    color: $grey;
  }

  .star-logo__circle {
    fill: $grey-disabled;
  }

  .star-logo__star {
    fill: $background-color;
  }

  .site-tagline,
  .post-excerpt {
    color: $grey-light;
  }
}
