@import 'node_modules/sass-material-colors/sass/sass-material-colors';

// dark mode
$code-main-text: #eceff1;
$background-color:  material-color('blue-grey', '900');
$text-color:        #fff;
$grey:              rgba(255, 255, 255, .7);
$border-color:      rgba(255, 255, 255, .12);
$code-background:   material-color('blue-grey', '800');


body {
  background-color: $background-color;
  color: $text-color;
}

figcaption {
  background: $code-background;
  color: $grey;
}

code {
  background: $code-background;
}

blockquote {
  border-color: $grey;
}

.highlight {
  background: $code-background;
  color: $code-main-text;
}

.post-meta {
  color: $grey;
}

.site-title-link {
  color: $text-color;
}

.site-nav a {
  color: $grey;
}
