---
layout: default
---

<article style="{% if color_light %}--img-bg-light: {{ color_light }};{% endif %}
  {% if color_dark %}--img-bg-dark: {{ color_dark }};{% endif%}">

  <header class="o-wrapper u-margin-top-xxlarge u-margin-bottom-xlarge">
    <h1 class="u-margin-bottom-tiny">{{ title }}</h1>
    {% if tagline %}
    <p class="ts-post-tagline">{{ tagline }}</p>
    {% endif %}
  </header>

  {% include components/components.main-image.html %}

  <div class="o-wrapper">

      {{ content }}

      <p class="ts-meta u-margin-vertical-xxlarge">{{ date | date: "%b %d, %Y" }}{% if author %} • {{ author }}{% endif %}{% if meta %} • {{ meta }}{% endif %}</p>

  </div>
</article>

