---
layout: default
permalink: work/{{ title | slug }}/index.html
---


<article class="s-article">
  <header class="o-wrapper u-margin-top-xxlarge u-margin-bottom-xlarge">
    <h1 class="u-margin-bottom-tiny">{{ title }}</h1>
    {% if tagline %}
      <p class="ts-post-tagline">{{ tagline }}</p>
    {% endif %}
  </header>

  {% include components/components.work-main-image.html %}

  <div class="o-wrapper">
    {{ content }}
    <p class="u-margin-vertical-xxlarge">
      <time class="ts-meta">{{ page.date | date: "%b %d, %Y" }}</time>
    </p>
  </div>
</article>
