---
layout: default
---



{% if image %}
<div class="c-image-background"
  style="--img-bg-light: {{ image.color_light }}; --img-bg-dark: {{ image.color_dark }};">
  <div class="col-full">
    <figure class="post-header-image">
      {% include components/components.main-image.html %}
    </figure>
  </div>
</div>
{% endif %}

<div class="post container col">

  <article class="post-content">

    <header class="post-header">
      {% if category == 'links' %}
        <h1 class="post-title post-title--small">
          <a href="{{ link }}">
            {{ title }}
          </a>
        </h1>
        <p>From: {{ link | host }}</p>
      {% else %}
        <h1 class="post-title">{{ title }}</h1>
      {% endif %}
      {% if tagline %}
        <p class="ts-post-tagline">{{ tagline }}</p>
      {% endif %}
    </header>

    {{ content }}

    <p class="ts-meta u-margin-vertical-xxlarge">{{ date | date: "%b %d, %Y" }}{% if author %} • {{ author }}{% endif %}{% if meta %} • {{ meta }}{% endif %}</p>

  </article>

</div>
