{% extends "layouts/layouts.default.html" %}

{% block main %}
<main>
  <article
    class="s-article js-work-article"
    style="{% if color_light %}--img-bg-light: {{ color_light }};{% endif %}
      {% if color_dark %}--img-bg-dark: {{ color_dark }};{% endif%}
  ">
    <header class="o-wrapper u-padding-top-xxlarge u-margin-bottom-xlarge">
      {% include "components/components.breadcrumb.html" %}
      <h1 class="u-margin-bottom-micro">{{ title | safe }}</h1>
      {% if tagline %}
        <p class="ts-post-tagline">{{ tagline | safe }}</p>
      {% endif %}
    </header>

    {% include "components/components.work-main-image.html" %}

    <div class="o-wrapper">
      {{ content | safe }}
      <p class="u-margin-vertical-xxlarge">
        <time class="ts-meta">{{ page.date | format_post_date }}</time>
      </p>
    </div>
  </article>

  {% set currentItemIndex = 0 %}

  {% set posts = collections.work | reverse %}
  {% for item in posts %}
    {% if item.url == page.url %}
      {% set currentItemIndex = loop.index0 %}
    {% endif %}
  {% endfor %}

  {% set nextItemIndex = currentItemIndex + 1 %}

  {% if currentItemIndex < posts.length - 1 %}
    {% set next = posts[nextItemIndex] %}
    <div class="o-wrapper">
      <hr />
    </div>
    <article
      class="c-next-project js-next-project"
      style="{% if next.data.color_light %}--img-bg-light: {{ next.data.color_light }};{% endif %}
        {% if next.data.color_dark %}--img-bg-dark: {{ next.data.color_dark }};{% endif%}
    ">
      <a href="{{ next.url }}" class="c-next-project__link js-next-project-link">
        <header class="o-wrapper u-padding-top-xxlarge u-margin-bottom-xlarge">
          <div class="c-breadcrumb">
            <span class="c-breadcrumb__item">Next Project</span>
          </div>
          <h1 class="u-margin-bottom-micro">{{ next.data.title | safe }}</h1>
          {% if next.data.tagline %}
            <p class="ts-post-tagline">{{ next.data.tagline | safe }}</p>
          {% endif %}
        </header>

        <div class="c-next-project__image">
          {% set image = next.data.image %}
          {% include "components/components.work-main-image.html" %}
        </div>
      </a>
    </article>
  {% endif %}

</main>
{% endblock %}

{% block scripts %}
  <script src="/js/work-article.js"></script>
{% endblock %}
