<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if noindex %}<meta name="robots" content="noindex">{% endif %}
    <title>{% if title %}{{ title }} / {{ site.title }}{% else %}{{ site.title }} – designer & developer{% endif %}</title>
    <meta name="description" content="{% if description %}{{description}}{% else %}{{ site.description }}{% endif %}">
    <meta name="theme-color" content="#263238" id="theme">
    <link rel="stylesheet" href="/css/{{ "main.css" | cssrev }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="icon" href="/favicon.png">
    <link rel="preload" href="/fonts/plex-sans/plex-roman.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <script>{% include "js/darkmode.js" %}</script>
  </head>
  <body>

    {% include "components/components.site-header.html" %}

    {% block main %}
    <main>
      {{ content | safe }}
    </main>
    {% endblock %}

    <script src="/js/main.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
