---
layout: default
---


<div class="post container col">
  <article class="post-content">
    <header class="u-margin-top-xxlarge u-margin-bottom-xxlarge">
      <h1 class="home-title">Work</h1>
      <p>A collection of some of my favourite things I’ve worked on.
        Recent projects are made in collaboration with my
        team at a dozen eggs. View our full portfolio.</p>
    </header>
  </article>
</div>

<div class="col-full-with-padding">
  <div class="container">

    <div class="grid">
      {% for post in collections.work %}
        {% include partials/card.html %}
      {% endfor %}
    </div>
  </div>
</div>
