/* ==========================================================================
   #TYPE-STYLES
   ========================================================================== */

.ts-page-title {
  @include ms-respond(font-size, 3.5);
  line-height: 1.1;
  letter-spacing: -.005em;
  font-weight: fw(bold);
}


.ts-page-intro {
  @include ms-respond(font-size, 1.5);
  line-height: 1.35;
  font-weight: fw(regular);
}

.ts-post-tagline {
  @include ms-respond(font-size, 1.5);
  line-height: 1.35;
  font-weight: fw(regular);
}

/* Style for site title and card titles */
.ts-title {
  @include ms-respond(font-size, 1.75);
  line-height: 1;
  font-weight: fw(bold);
}

.ts-meta {
  @include ms-respond(font-size, .25);
  color: sem-color(text-2);
  @include theme-transition(color);
}

.ts-menu-item {
  @include ms-respond(font-size, .75);
  font-weight: fw(semibold);
  line-height: 1.25;
}

.ts-label {
  @include ms-respond(font-size, .5);
  font-weight: fw(regular);
  line-height: 1.25;
}

.ts-display-1 {
  @include ms-respond(font-size, 3);
  letter-spacing: -.005em;
}

.ts-display-2 {
  @include ms-respond(font-size, 2.25);
}

.u-nobr {
  white-space: nowrap;
}

.u-semibold {
  font-weight: fw(semibold);
}

.u-regular {
  font-weight: fw(regular);
}

.u-text-center {
  text-align: center;
}
