/* ==========================================================================
   #TYPE-STYLES
   ========================================================================== */

.ts-page-title {
  @include ms-respond(font-size, 3.5);
  line-height: 1.1;
  letter-spacing: -.005em;
  font-weight: 675;
}


.ts-post-tagline {
  @include ms-respond(font-size, 1.5);
  line-height: 1.45;
  font-weight: 450;
}

/* Style for site title and card titles */
.ts-title {
  @include ms-respond(font-size, 1.75);
  line-height: 1;
  font-weight: 675;
}

.ts-meta {
  @include ms-respond(font-size, .25);
  color: sem-color(text-2);
  @include theme-transition(color);
}

.ts-menu-item {
  @include ms-respond(font-size, .75);
  font-weight: 525;
  letter-spacing: .005em;
  line-height: 1.25;
}
