/* ==========================================================================
   #WORK-MAIN-IMAGE
   ========================================================================== */

.c-work-main-image {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--site-max-width) * 10 / 16 * 3 / 2);
  overflow: hidden;
}
