/* ==========================================================================
   #SOCIAL-MENU
   ========================================================================== */

.c-social-menu {
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;

  @include mq($from: md) {
    flex-direction: row;
  }
}

.c-social-menu__item {
  display: flex;
  align-items: center;
  margin: 0 sp(xlarge) 0 0;
  font-size: inherit;

  &:first-child {
    margin-left: 0;
  }
}

  .c-social-menu__link {
    text-decoration: none;
    box-sizing: content-box;
    padding: sp(tiny);
    margin: calc(#{sp(tiny)} * -1);
    display: flex;
    align-items: center;
    border-radius: var(--rounded-radius);
    @include ms-respond(font-size, .75);
    font-weight: fw(semibold);
    line-height: 1.25;
    transition: background-color $hover-transition;

    > svg {
      @include ms-respond(width, 1);
      @include ms-respond(height, 1);
      transition: fill $hover-transition;
      @include theme-transition(fill);
      fill: sem-color(text);
      margin-right: sp(small);
    }

    &:hover,
    &:focus {
      background-color: var(--state-color-hover);

      > svg {
        fill: sem-color(text);
      }
    }

    &:active {
      background-color: var(--state-color-active);
    }

    @include focus-style {
      outline: none;
      box-shadow: 0 0 0 3px sem-color(link) inset;
      background-color: sem-color(link, .375);
    }

  }
