/* ==========================================================================
   #WORK-CARD
   ========================================================================== */

.c-work-card {
  background-color: sem-color(surface);
  box-shadow: var(--shadow-1);
  position: relative;
  transition:
    // box-shadow .4s cubic-bezier(.4, 0, .2, 1),
    background-color $theme-transition;
  border-radius: 4px;

  > a {
    display: block;
    text-decoration: none;
    color: sem-color(text);
    transition: color $theme-transition;
  }
}


.c-work-card__content {
  padding: sp();
  line-height: 1;
}

.c-work-card__title {
  margin: 0;
}

.c-work-card__thumbnail {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
  }
}
