/* ==========================================================================
   #SITE-MENU
   ========================================================================== */

.c-site-menu__list {
  margin: 0;
  list-style: none;
  display: flex;
}

  .c-site-menu__item {
    margin: 0;
    margin-right: sp(1);
    font-size: inherit;
  }

    .c-site-menu__link {
      display: block;
      text-decoration: none;
      padding: sp(-.5) 0;
      color: sem-color(text-3);
      @include theme-transition(color);

      @include focus-style {
        outline: none;
        position: relative;
        z-index: 0;

        &::before {
          position: absolute;
          content: "";
          background: sem-color(link, .3);
          width: calc(100% + 2 * #{sp(-2)});
          height: calc(100%);
          left: calc(#{sp(-2)} * -1);
          top: 0;
          border-radius: sp(-4);
          border: 3px solid sem-color(link);
          z-index: -1;
        }
      }

      &:hover,
      &:focus {
        color: sem-color(text);
      }

      &.is-parent,
      &.is-active {
        color: sem-color(text);
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          background-color: sem-color(text);
          bottom: 0;
          height: 3px;
          left: 0;
          right: 0;
          z-index: -2;
          @include theme-transition(background-color);
        }
      }
    }
