/* ==========================================================================
   #HOME-HERO
   ========================================================================== */

.c-home-hero {
  display: flex;

  @include mq($until: md) {
    flex-direction: column;
  }

}

.c-home-hero__message {
  margin-top: sp(xxxlarge);
  margin-bottom: sp(xlarge);

  @include mq($until: md) {
    margin-top: 0;
  }

  @include mq($from: md, $until: lg) {
    margin-top: sp(xxlarge);
  }
}

:root {
  @include ms-respond(--home-hero-font-size-a, 4.5);
  @include ms-respond(--home-hero-font-size-b, 4.25);
}

.c-home-hero__title {
  font-size: var(--home-hero-font-size-a);
  letter-spacing: -.0075em;
  line-height: 1.1;
  font-weight: fw(semibold);

  @include mq($from: md, $until: lg) {
    font-size: var(--home-hero-font-size-b);
  }

  @include mq($until: 480px) {
    font-size: var(--home-hero-font-size-b);
  }

  @include mq($until: md) {
    text-align: center;
  }
}

.c-home-hero__images {
  margin-top: sp(large);
  margin-bottom: sp(xlarge);

  @include mq($until: md) {
    align-self: center;
  }
}
