/* ==========================================================================
   #WORK-CARD
   ========================================================================== */

.c-work-card {
  background-color: sem-color(surface);
  box-shadow: var(--shadow-1);
  position: relative;
  @include theme-transition(background-color);
  border-radius: var(--rounded-radius);
  transition: box-shadow .2s $standard-easing;

  &::after {
    transition: background-color .2s $standard-easing;
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-radius);
  }

  &:hover,
  &:focus-within {
    box-shadow: var(--shadow-3);

    &::after {
      background-color: sem-color(hover-state, .06);
    }
  }
}

  .c-work-card__link {
    display: block;
    text-decoration: none;
    color: sem-color(text);
    border-radius: var(--rounded-radius);
    @include theme-transition(color);

    @include focus-style {
      outline: none;
      box-shadow: 0 0 0 sp(-5) sem-color(link);
    }
  }


    .c-work-card__content {
      padding: sp();
      line-height: 1;
    }

      .c-work-card__title {
        margin: 0;
      }

    .c-work-card__thumbnail {
      border-top-left-radius: var(--rounded-radius);
      border-top-right-radius: var(--rounded-radius);

      img {
        border-top-left-radius: var(--rounded-radius);
        border-top-right-radius: var(--rounded-radius);
        width: 100%;
      }
    }
