/* ==========================================================================
   #SITE-HEADER
   ========================================================================== */

.c-site-header {
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: sem-color(surface, .98);
  transition:
    background-color $theme-transition,
    box-shadow $theme-transition;
  box-shadow: var(--shadow-2);
}

.c-site-header__main {
  padding-top: sp();
  padding-bottom: sp();
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

  .c-site-header__site-title {
    flex: 1;
    display: flex;
    justify-content: center;

    @include mq($from: sm) {
      width: initial;
    }
  }

  .c-site-header__back-button {
    width: 2rem;
    display: flex;
    justify-content: flex-start;

    // disabled back button
    > svg {
      fill: sem-color(text-2);
    }
  }

  .c-site-header__darkmode {
    width: 2rem;
    display: flex;
    justify-content: flex-end;
  }

    .c-site-header__site-title-link {
      color: sem-color(text);
      transition: color $theme-transition;
      display: block;
      text-align: center;
      text-decoration: none;
      padding: auto;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: sem-color(text);
        text-decoration: none;
      }

      @include focus-style {
        outline: none;
        box-shadow: 0 0 0 sp(-5) sem-color(link);
        border-radius: 1px;
        background-color: sem-color(link, .375);
      }
    }


.c-site-header__tabbar {
  margin-left: calc(var(--site-margin) * -1);
  margin-right: calc(var(--site-margin) * -1);
  display: flex;
  justify-content: space-between;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

  .c-site-header__menu {
    padding-left: var(--site-margin);
  }

  .c-site-header__social {
    padding-right: var(--site-margin);
  }


/**
 * Add padding to the element after the site header
 */

.c-site-header + main {
  @include ms-respond(--site-title-size, 1.5);
  padding-top: calc(2 * #{sp()} + var(--site-title-size) + 46px);
}
