/* ==========================================================================
   #SOCIAL-MENU
   ========================================================================== */

.c-social-menu {
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
}

.c-social-menu__item {
  display: flex;
  align-items: center;
  margin: 0 0 0 sp(.5);
  font-size: inherit;

  &:first-child {
    margin-left: 0;
  }
}

  .c-social-menu__link {
    text-decoration: none;
    box-sizing: content-box;
    @include ms-respond(width, .725);
    @include ms-respond(height, .725);
    padding: sp(-1.5);
    margin: calc(#{sp(-1.5)} * -1);
    display: block;
    border-radius: 50%;
    transition:
      background-color .1s $standard-easing,
      box-shadow .1s $standard-easing;
    @include theme-transition(background-color);


    > svg {
      transition: fill .1s $standard-easing;
      @include theme-transition(fill);
      fill: sem-color(text-3);
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover,
    &:focus {
      background-color: sem-color(hover-state, .06);

      > svg {
        fill: sem-color(text);
      }
    }

    @include focus-style {
      outline: none;
      box-shadow: 0 0 0 3px sem-color(link) inset;
      background-color: sem-color(link, .375);
    }

  }
