/*

Name:       Base16 Oceanic Next Dark
Author:     Dmitri Voronianski (http://pixelhunter.me)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {}

/* Inline code */
:not(pre) > code[class*="language-"] {
  word-break: break-word;
  padding: 2px 6px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: sem-color(code-dark-blue-grey);
}

.token.punctuation {
  color: sem-color(code-blue-grey);
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: sem-color(code-deep-orange);
}
.token.property {
  color: sem-color(code-orange);
}
.token.tag {
  color: sem-color(code-light-blue);
}
.token.string {
  color: sem-color(code-green);
}
.token.selector {
  color: sem-color(code-purple);
}
.token.attr-name {
  color: sem-color(code-deep-orange);
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: sem-color(code-cyan);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: sem-color(code-green);
}

.token.statement,
.token.regex,
.token.atrule {
  color: sem-color(code-teal);
}

.token.placeholder,
.token.variable {
  color: sem-color(code-light-blue);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: sem-color(code-blue-grey);
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: sem-color(code-red);
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid sem-color(code-red);
  outline-offset: .4em;
}
