/* ==========================================================================
   #SOCIAL-MENU
   ========================================================================== */

.c-social-menu {
  margin: 0;
  height: 100%;
  list-style: none;
}

.c-social-menu__item {
  display: flex;
  align-items: center;
  margin: sp() 0 0;
  font-size: inherit;

  &:first-child {
    margin-left: 0;
  }
}

  .c-social-menu__link {
    text-decoration: none;
    box-sizing: content-box;
    padding: sp(tiny);
    margin: calc(#{sp(tiny)} * -1);
    display: flex;
    align-items: center;
    border-radius: var(--rounded-radius);
    @include ms-respond(font-size, .75);
    font-weight: fw(semibold);
    line-height: 1.25;

    > svg {
      @include ms-respond(width, .75);
      @include ms-respond(height, .75);
      @include theme-transition(fill);
      fill: sem-color(text);
      margin-left: sp(xmicro);
      margin-right: sp(small);
    }

  }
