/* ==========================================================================
   #TWITTER-FEED
   ========================================================================== */

.c-twitter-feed {

  @include mq($from: sm) {
    border-top-left-radius: var(--rounded-radius);
    border-top-right-radius: var(--rounded-radius);
    border-top: 1px solid sem-color(border);
    border-left: 1px solid sem-color(border);
    border-right: 1px solid sem-color(border);
    @include theme-transition(border-color);
  }
}
