/* ==========================================================================
   #SITE-HEADER
   ========================================================================== */

.c-site-header {
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: sem-color(surface, .98);
  transition:
    background-color $theme-transition,
    box-shadow $theme-transition;
  box-shadow:
    0 1px 6px rgba(#000, .08),
    0 4px 24px rgba(#000, .04);

  .t-dark & {
    box-shadow:
      0 1px 6px rgba(#000, .16),
      0 4px 24px rgba(#000, .12);
  }
}

.c-site-header__main {
  padding-top: sp();
  padding-bottom: sp();
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.c-site-header__site-title {
  @include mq($from: sm) {
    width: initial;
  }

  flex: 1;
  display: flex;
  justify-content: center;
}

.c-site-header__site-title-link {
  color: sem-color(text);
  transition: color $theme-transition;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: auto;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}



/**
 * Add padding to the element after the site header
 */

.c-site-header + main {
  @include ms-respond(--site-title-size, 1.5);
  padding-top: calc(2 * #{sp()} + var(--site-title-size) + 46px);
}
