/* ==========================================================================
   #CODE-HIGHLIGHT
   ========================================================================== */

.highlight  {
  pre {
    background: sem-color(background-darker);
    transition: background-color $theme-transition;
  }

  .k,                                 // Keyword
  .gu,                                // Generic.Subheading
  .kc,                                // Keyword.Constant
  .kd,                                // Keyword.Declaration
  .kn,                                // Keyword.Namespace
  .kp,                                // Keyword.Pseudo
  .kr,                                // Keyword.Reserved
  .kt {                               // Keyword.Type
    color: sem-color(code-blue);
    transition: color $theme-transition;
  }

  .gi,                                // Generic.Inserted
  .ld,                                // Literal.Date
  .s,                                 // Literal.String
  .sb,                                // Literal.String.Backtick
  .s2,                                // Literal.String.Double
  .sh,                                // Literal.String.Heredoc
  .sx,                                // Literal.String.Other
  .sr,                                // Literal.String.Regex
  .s1,                                // Literal.String.Single
  .ss {                               // Literal.String.Symbol
    color: sem-color(code-green);
    transition: color $theme-transition;
  }

  .l,                                 // Literal
  .m,                                 // Literal.Number
  .mb,                                // Literal.Number.Bin
  .mf,                                // Literal.Number.Float
  .mh,                                // Literal.Number.Hex
  .mi,                                // Literal.Number.Integer
  .mo,                                // Literal.Number.Oct
  .se,                                // Literal.String.Escape
  .si,                                // Literal.String.Interpol
  .il {                               // Literal.Number.Integer.Long
    color: sem-color(code-red);
    transition: color $theme-transition;
  }

  .c,                                 // Comment
  .ch,                                // Comment.Hashbang
  .cm,                                // Comment.Multiline
  .cp,                                // Comment.Preproc
  .cpf,                               // Comment.PreprocFile
  .c1,                                // Comment.Single
  .cs,                                // Comment.Special
  .gp,                                // Generic.Prompt
  .sd {                               // Literal.String.Doc
    color: sem-color(code-pink);
    transition: color $theme-transition;
  }

  .gp,                                // Generic.Prompt
  .gu,                                // Generic.Subheading
  .gs {                               // Generic.Strong
    font-weight: bold;
  }

  .ge {                               // Generic.Emph
    font-style: italic;
  }
}
