/* ==========================================================================
   #POST
   ========================================================================== */

.c-post {
  transition: background-color $hover-transition;
  @include theme-transition(background-color);

  &.is-next-post:hover {
    background-color: var(--state-color-hover);
  }

}


  /**
   * Divider in between posts.
   */

  .c-post:not(:last-child) .c-post__content {
    border-bottom: 1px solid sem-color(border);
    @include theme-transition(border-color);
  }


  /**
   * Next post preview links.
   */

  .c-post__link {
    text-decoration: none;
    display: block;

    @include focus-style {
      outline: none;
      position: relative;
      z-index: 0;
      overflow: hidden;

      &::before {
        position: absolute;
        content: "";
        background: sem-color(link, .3);
        width: 100%;
        height: calc(100% + #{sp(xmicro)});
        left: 0;
        top: 0;
        border-radius: var(--rounded-radius);
        border: 3px solid sem-color(link);
        z-index: -1;
      }
    }
  }


    /**
     * Main post images:
     *  - Crop main post image to 1/4 its height when it is a prevew.
     *  - Zoom slightly on preview image when hovering the preview (not link).
     *  - Transition back smoothly when it becomes the main post.
     */

    .c-post__image img {
      transition: transform .2s ease-out;
    }

    .c-post.is-next-post {

      .c-post__image {
        overflow: hidden;
        height: calc(((100vw - var(--site-margin) * 2) * 2 / 3) / 4 + var(--site-menu-height));
        margin-bottom: calc(var(--site-menu-height) * -1);

        @include mq($from: lg) {
          height: calc(((100vw - var(--site-margin) * 2) * 2 / 3) / 4);
          max-height: #{((911.25 / 16 * 1rem) * 2 / 3) / 4};
        }
      }

      // &:hover,
      // .c-post__link:focus {

      //   .c-post__image img {
      //     transform: scale(1.0125);
      //   }
      // }
    }


    @media print {

      .c-post {

        &.is-next-post {
          display: none;
        }

        &:not(:last-child) .c-post__content {
          border: none;
        }
      }
    }
