@import 'node_modules/sass-material-colors/sass/sass-material-colors';

$white:                     #fff;
$black:                     #000;
$red:                       #ff5252;
$red-light:                 #ff6765;
$red-twitter:               #FD6E6D;
$cyan:                      #00bcd4;
$light-blue:                #1da1f2;
$blue:                      material-color('blue', '700');
$blue-grey:                 hsl(203, 100%, 66%);
// $text-color:                rgba(0, 0, 0, .87);
$text-color:               material-color('blue-grey', '900');
$caption-color:             rgba(0, 0, 0, .54);
$quote-border-color:        rgba(0, 0, 0, .7);
$border-color:              rgba(0, 0, 0, .12);
$grey:                      material-color('grey', '600');
$white-87:                  rgba($white, .87);
$glass-color:               material-color('blue-grey', '900');
$metal-color:               material-color('blue-grey', '700');
$light-background-color:    #fff;
$background-color:          hsla(204, 15%, 97%, 1);
$caption-color:             hsla(200, 19%, 18%, .7);
$code-background:           $background-color;

:root {
  --light-background-color: #{$light-background-color};
  --background-color:       #{$background-color};
  --text-color:             #{$text-color};
  --accent-color:           #{$red};
  --underline-color:        #{$border-color};
  --toolbar-background-color: #fff;
  --quote-border-color:     $quote-border-color;




  // code samples
  --code-text-color:        #37474f;

  --code-background-color:  $code-background;
}

// dark mode
$code-main-text:            #eceff1;
$background-color:          material-color('blue-grey', '900');
// 2% less light than material blue-grey 900
$background-color:          #212b31;
$background-color:           #{"hsl(200, 19%, 12.5%)"};

$text-color:                #fff;
$grey-light:                rgba(255, 255, 255, .7);
$grey:                      rgba(255, 255, 255, .5);
$grey-disabled:             rgba(255, 255, 255, .4);
$border-color:              rgba(255, 255, 255, .12);
$light-background-color:    #253037; //hsl(204, 19%, 18%) -> half between toolbar and dark bg
$light-background-color :   #{"hsl(200, 19%, 14%)"};

$code-background:           $background-color;
// $code-background:           #{"hsl(200, 25%, 15.5%)"};;
$toolbar-background-color:  #2b3940;
// $toolbar-background-color : #{"hsl(200, 25%, 17%)"};
$toolbar-background-color : #{"hsl(200, 19%, 19%)"};

// note, can change hsl satruation to 25 for more blue-ey feel.



:root.t-dark {
  --light-background-color:   #{$light-background-color};
  --background-color:         #{$light-background-color};
  --code-text-color:          #{$code-main-text};
  --code-background-color:    #{$code-background};
  --text-color:               #{$text-color};
  --accent-color:             #{$red-light};
  --underline-color:          #{$border-color};
  --toolbar-background-color: #{$toolbar-background-color};

  --quote-border-color:       #{$grey-light};
}
