@import 'node_modules/sass-mq/mq';

$mq-breakpoints:          (
  sm:                     600px,
  md:                     840px,
  lg:                     1024px
);

:root {

  --site-max-width:       1080px;

  --site-margin-width:    16px;

  --container-padding-x:  16px;
  --container-padding-y:  16px;

  --toolbar-height:       56px;
  --icon-size:            24px;



  --spacing-unit-small:   16px;
  --spacing-unit-md:      32px;
  --spacing-unit-large:   64px;


  @include mq($from:      sm) {
    --site-margin-width:  24px;

    --icon-size:          30px;

    --spacing-unit-small: 20px;
    --spacing-unit-md:    40px;
    --spacing-unit-large: 80px;
    --toolbar-height: 67px;
  }

}
