@import 'node_modules/sass-mq/mq';

$mq-breakpoints:          (
  sm:                     600px,
  md:                     840px,
  lg:                     1052px
);

:root {

  --site-max-width:       1052px;

  --site-margin-width:    16px;

  --container-padding-x:  16px;
  --container-padding-y:  16px;



  --spacing-unit-small:   16px;
  --spacing-unit-md:      40px;
  --spacing-unit-large:   52px;


  @include mq($from:      sm) {
    --site-margin-width:  24px;



    --spacing-unit-small: 24px;
    --spacing-unit-md:    52px;
    --spacing-unit-large: 80px;
  }

}
