:root {
  --font-size-base: 12px;
  --scale-factor: 1;


  --body-font-size: (16px + 2px/3);
  --body-line-height: 1.6;

  --font-size-h1: 34px;
  --h1-line-height: 40px;

  --font-size-h2: 24px;
  --caption-font-size: 13px;
  --caption-line-height: 1.75;

  // base 12. ratio 1.45
  // or base 11.1111111 ratio 1.5


  @include mq($from: sm) {
    --scale-factor: 1.5;

    --body-font-size: 19.5px;

    --font-size-h2: 29.25px;

    // base 13. ratio 1.5
    // second base 11?

  }
}

@mixin scaled-font-size($var) {
  font-size: calc(var(--font-size-base) + ((var(#{$var}) - var(--font-size-base)) * var(--scale-factor)));
}

@mixin scaled-line-height($var) {
  line-height: calc(var(--font-size-base) + ((var(#{$var}) - var(--font-size-base)) * var(--scale-factor)));
}

