@mixin layout-vars {
  --site-max-width:       #{rem(1080px)};
  --site-max-width:       #{rem(972px)};
  --site-margin:          #{sp()};

  @include mq($from: sm) {
    --site-margin:          #{sp(large)};
  }
}
