$white:                   #fff;
$black:                   #000;
$red:                     #ff5252;
$cyan:                    #00bcd4;
$light-blue:              #1da1f2;
$blue:                    material-color('blue', '700');
$blue-grey:               hsl(203, 100%, 66%);


$text-color:              rgba(0, 0, 0, .87);
$caption-color:           rgba(0, 0, 0, .54);
$quote-border-color:      rgba(0, 0, 0, .12);
$border-color:            rgba(0, 0, 0, .12);
$code-background:         #f7f7f7;
$code-background:         #f7f8f8;
$grey:                    material-color('grey', '600');

$white-87: rgba($white, .87);

$glass-color:             material-color('blue-grey', '900');
$metal-color:             material-color('blue-grey', '700');
