@function rem($px) {
  @return ($px / 16px * 1rem);
}

$modularscale: (
  base: 13px,
  ratio: 1.5
);

@debug ms(-1);
@debug ms();
@debug ms(0);
@debug ms(1);
@debug ms(2);

$modularscale: (
  base: rem(12px),
  ratio: 1.4,
  20em: (
    base: rem(12px),
    ratio: 1.4
  ),
  60em: (
    base: rem(13px),
    ratio: 1.5
  ),
);

$modularscale_thread_b: (
  20em: (
    base: rem(11px),
    ratio: 1.4
  ),
  60em: (
    base: rem(11px),
    ratio: 1.5
  ),
)
