$small-font-size:      13px;
$base-line-height:     32 / 20;
$base-line-height:     32px;

$spacing-unit:         24px;
$grid-unit:            8px;

$content-width:        1280px;
$content-margins:      16px;

$bp-600:               600px;
$bp-720:               721px;
$bp-840:               841px;
$bp-960:               961px;

$sm:                   600px;
$md:                   840px;
$lg:                   1052px;

$padding-x-xs:         0;
$padding-x-sm:         24px;
$padding-x-lg:         32px;

$margin-xs:            16px;
$margin-sm:            16px;
$margin-lg:            0;
