.b1 {
  @include ms-respond(font-size, 1);
  line-height: 1.45;
}

.b2 {
  @include ms-respond(font-size, 0);
}


.post-tagline {
  @include ms-respond(font-size, 1.5);
  line-height: 1.35;
}

.ts-title {
  @include ms-respond(font-size, 2, $modularscale_thread_b);
  font-weight: 675;
  line-height: 1;
}
