@mixin light-color-vars {
  --color-background:        #{rgb-triplet('white')};
  --color-background-darker: #{rgb-triplet('grey-50')};
  --color-surface:           #{rgb-triplet('white')};
  --color-text:              #{rgb-triplet('blue-grey-900')};
  --color-text-2:            #{rgb-triplet('blue-grey-600')};
  --color-border:            #{rgb-triplet('blue-grey-600')};

  --color-code-blue:         #{rgb-triplet('blue-500')};
  --color-code-green:        #{rgb-triplet('green-500')};
  --color-code-red:          #{rgb-triplet('red-500')};
  --color-code-pink:         #{rgb-triplet('pink-500')};
}

@mixin dark-color-vars {
  --color-background:        #{rgb-triplet('blue-grey-950')};
  --color-background-darker: #{rgb-triplet('blue-grey-975')};
  --color-surface:           #{rgb-triplet('blue-grey-900')};
  --color-text:              #{rgb-triplet('white')};
  --color-text-2:            #{rgb-triplet('blue-grey-200')};
  --color-border:            #{rgb-triplet('blue-grey-200')};

  --color-code-blue:         #{rgb-triplet('blue-300')};
  --color-code-green:        #{rgb-triplet('green-300')};
  --color-code-red:          #{rgb-triplet('red-300')};
  --color-code-pink:         #{rgb-triplet('pink-300')};
}
