$white:                   #fff;
$black:                   #000;
$red:                     #ff5252;
$cyan:                    #00bcd4;
$light-blue:              #03a9f4;
$blue:                    #1e88e5;

$text-color:              rgba(0, 0, 0, .87);
$caption-color:           rgba(0, 0, 0, .54);
$border-color:            rgba(0, 0, 0, .12);
$code-background:         #f7f7f7;
$code-background:         #f7f8f8;
$grey:                    material-color('grey', '600');

$white-70: rgba($white, .7);

$glass-color:             material-color('blue-grey', '900');
$metal-color:             material-color('blue-grey', '700');
