@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

// https://github.com/guardian/guss-rem/blob/master/_rem.scss

$guss-rem-baseline: 16px;

@function rem($value, $baseline: $guss-rem-baseline) {
  @if $value == 0 {
    @return 0; // 0rem -> 0
  }

  @if type-of($value) == list {
    $result: ();

    @each $e in $value {
      $result: append($result, rem($e, $baseline));
    }

    @return $result;
  } @else {
    @return if(type-of($value) == number and unit($value) == px, $value / $baseline * 1rem, $value);
  }
}

@mixin hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
