pre,
code {
  font-family: IBM Plex Mono, Menlo, Roboto Mono, monospace, sans-serif;
  font-weight: 450;
  @include ms-respond(font-size, 0.5);
}

code {
  background: var(--color-background-darker);
  transition: background-color $theme-transition;
  letter-spacing: 0;
  padding: 2px 6px;
}

p > code {
  word-break: break-word;
}

pre {
  line-height: 1.5;
  padding: sp();
  overflow-x: auto;

  @include mq($from: sm) {
    padding: sp(large);
  }

  > code {
    border: 0;
    display: inline-block;
    padding: 0;
  }
}
