.post-list {
  .post-excerpt {
    @include sm {
      font-size: 24px;
      line-height: (32 / 24);
    }

    color: $red;
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 0;
    line-height: (24 / 20);
  }

  .post {
    @include sm {
      margin-bottom: 96px;
      margin-top: 96px;
    }

    margin-bottom: 52px;
    margin-top: 52px;
    position: relative;
  }
}
