.post-list {
  .post-excerpt {
    @include mq($from: sm) {
      font-size: 24px;
      line-height: (32 / 24);
    }

    @include display;
    color: $red;
    font-size: 20px;
    letter-spacing: 0;
    line-height: (24 / 20);
  }

  .post {
    @include mq($from: sm) {
      margin-bottom: 96px;
      margin-top: 96px;
    }

    margin-bottom: 52px;
    margin-top: 52px;
    position: relative;
  }
}

.post-link {
  white-space: nowrap;
}

.star-logo {
  white-space: nowrap;
}

.post-perma {
  margin-left: 9px;

  &:hover {
    .star-logo__circle {
      fill: $red;
    }

    .star-logo__star {
      fill: $white;
    }
  }
}
