$code-main-text: #37474f;
$dark--code-main-text: #eceff1;

// originals
$code-blue: #3b78e7;
$code-green: #0d904f;
$code-red: #c53929;
$code-pink: #d81b60;

// modified
$code-green: #12a55c;
$code-red: #ff5252;
$code-pink: #e83b74;


.highlight  {
  background: $code-background;
  color: $code-main-text;

  .dark & {
    background: $dark--code-background;
    color: $dark--code-main-text;
  }

  .k,                                 // Keyword
  .gu,                                // Generic.Subheading
  .kc,                                // Keyword.Constant
  .kd,                                // Keyword.Declaration
  .kn,                                // Keyword.Namespace
  .kp,                                // Keyword.Pseudo
  .kr,                                // Keyword.Reserved
  .kt {                               // Keyword.Type
    color: $code-blue;
  }

  .gi,                                // Generic.Inserted
  .ld,                                // Literal.Date
  .s,                                 // Literal.String
  .sb,                                // Literal.String.Backtick
  .s2,                                // Literal.String.Double
  .sh,                                // Literal.String.Heredoc
  .sx,                                // Literal.String.Other
  .sr,                                // Literal.String.Regex
  .s1,                                // Literal.String.Single
  .ss {                               // Literal.String.Symbol
    color: $code-green;
  }

  .l,                                 // Literal
  .m,                                 // Literal.Number
  .mb,                                // Literal.Number.Bin
  .mf,                                // Literal.Number.Float
  .mh,                                // Literal.Number.Hex
  .mi,                                // Literal.Number.Integer
  .mo,                                // Literal.Number.Oct
  .se,                                // Literal.String.Escape
  .si,                                // Literal.String.Interpol
  .il {                               // Literal.Number.Integer.Long
    color: $code-red;
  }

  .c,                                 // Comment
  .ch,                                // Comment.Hashbang
  .cm,                                // Comment.Multiline
  .cp,                                // Comment.Preproc
  .cpf,                               // Comment.PreprocFile
  .c1,                                // Comment.Single
  .cs,                                // Comment.Special
  .gp,                                // Generic.Prompt
  .sd {                               // Literal.String.Doc
    color: $code-pink;
  }

  .gp,                                // Generic.Prompt
  .gu,                                // Generic.Subheading
  .gs {                               // Generic.Strong
    font-weight: bold;
  }

  .ge {                               // Generic.Emph
    font-style: italic;
  }
}
