.card {
  background-color: var(--color-surface);
  box-shadow: 0px 1px 4px rgba(#1D262A, .125);
  position: relative;
  transition:
    box-shadow .4s cubic-bezier(0.4, 0, 0.2, 1),
    background-color $theme-transition;

  &:hover {
    box-shadow: 0px 4px 20px rgba(#1D262A, .2);
  }

  > a {
    text-decoration: none;
    color: var(--color-text);
    transition: color $theme-transition;
  }
}


.card__content {
  padding: sp();
  line-height: 1;
}

.card__title {
  margin: 0;
}

.card__thumbnail img {
  width: 100%;
}
