.site-header {
  align-items: center;
  box-sizing: content-box;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  background-color: var(--color-surface);
  transition: background-color $theme-transition;
  box-shadow: 0px 1px 8px rgba(#1D262A, .07);
}

.page-content {
  @include ms-respond(--site-title-size, 1.5);
  padding-top: calc(2 * #{sp()} + var(--site-title-size));
}

.site-toolbar {
  padding-top: sp();
  padding-bottom: sp();

  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.site-header .site-title {
  @include mq($from: sm) {
    width: initial;
  }

  flex: 1;
  display: flex;
  justify-content: center;
}

.site-header .site-title-link {
  color: var(--color-text);
  transition: color $theme-transition;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: auto;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  user-select: none;
  cursor: pointer;
  transition:
    fill $theme-transition;

  > svg {
    display: block;
  }

  .t-dark & {
    fill: var(--color-text);
  }
}


.name {
  flex: 1;
  display: flex;
  justify-content: center;
}
