$border-radius: 5px;

#wrap {
  transition: background-color .4s ease-out;
}

.c-section {
  display: flow-root;
  height: 607px;
}

.c-home-header {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  padding-left: sp(xxlarge);
  padding-right: sp(xxlarge);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > div {
    align-self: center;
  }
}

.c-section__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1080px;
  padding-left: sp(tiny);
  padding-right: sp(tiny);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.c-transform-image {
  width: 540px;

  > img {
    transform: rotateX(30deg) rotateY(8deg) rotateZ(-13deg) scale(.95, 1);
    transform: rotateX(25deg) rotateY(10deg) rotateZ(-12.5deg) scale(.95, 1);
    transition: transform .2s ease-out;
    border-radius: #{$border-radius / 540px * 100%} / #{$border-radius / 360px * 100%};
    box-shadow: -4px 8px 12px rgba(0, 0, 0, .2);
    box-shadow: -8px 8px 18px 2px rgba(0, 0, 0, .12);
    display: block;
    width: 100%;
  }
}

.c-transform-images {
  transform: rotateX(30deg) rotateY(8deg) rotateZ(-13deg) scale(.95, 1);
  transform: rotateX(25deg) rotateY(10deg) rotateZ(-12.5deg) scale(.9375, 1);
  transition: transform .2s ease-out;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 185px 185px 185px;
  justify-content: center;

  > img {
    border-radius: #{$border-radius / 185px * 100%} / #{$border-radius / 375px * 100%};
    box-shadow: -4px 8px 12px rgba(0, 0, 0, .2);
    box-shadow: -8px 8px 18px 2px rgba(0, 0, 0, .12);
    display: block;
    width: 100%;
  }
}

.c-light {
  font-weight: 475;
}

.c-home-h1 {
  @include ms-respond(font-size, 3);
  margin-bottom: sp(small);
}

.c-home-p {
  @include ms-respond(font-size, 2);
  margin-bottom: sp(xxlarge);
  line-height: 1.5;
  font-weight: 450;
}
