$box-shadow-color: rgba(0, 0, 0, .06);

@mixin phone($scale) {
  border-radius: (36px * $scale);
  padding: (60px * $scale) (16px * $scale);
  width: (360px * $scale);
}

@mixin tablet($scale) {
  border-radius: (24px * $scale);
  padding: (80px * $scale) (24px * $scale);
  width: (600px * $scale);
}

@mixin ipad($scale) {
  border-radius: (48px * $scale);
  padding: (104px * $scale) (40px * $scale);
  width: (768px * $scale);
}

@mixin window($scale) {
  border-radius: (4px * $scale);
  overflow: hidden;
  width: (960px * $scale);
}

@mixin laptop($scale) {
  border-top-left-radius: 8px * $scale;
  border-top-right-radius: 8px * $scale;
  height: 850px * $scale;
  padding: (64px * $scale) (48px * $scale) (72px * $scale);
  width: 1280px * $scale;

  &::after {
    border-bottom-left-radius: (12px * $scale);
    border-bottom-right-radius: (12px * $scale);
    border-top-left-radius: (4px * $scale);
    border-top-right-radius: (4px * $scale);
    height: (48px * $scale);
    margin: 0 (-192px * $scale);
    top: (64px * $scale);
  }
}

.device {
  background-color: $glass-color;
  box-sizing: content-box;
}

.device__screen {
  background-color: $black;
  height: 100%;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }
}

.device--phone,
.device--tablet,
.device--ipad,
.window {
  @include mq($from: sm) {
    margin: 48px auto;
  }

  background-color: $glass-color;
  box-shadow: 0 8px 8px 4px $box-shadow-color;
  box-sizing: content-box;
  margin: 32px auto;
}

.device--laptop {
  $scale: (328 / 1376);
  @include laptop($scale);

  @include mq($from: sm) {
    $scale: (.66 * .5);
    @include laptop($scale);
    margin: 80px auto (52px + (80px * $scale));

    &.device--home {
      margin-top: 48px;
    }
  }

  @include mq($from: md) {
    $scale: (.9 * .5);
    @include laptop($scale);
  }

  @include mq($from: lg) {
    $scale: (768 / 1280);
    @include laptop($scale * .9166666666);
    @include laptop($scale * .9375);

    &.device--home {
      @include laptop(.8 * $scale);
    }
  }

  box-shadow: 0 4px 4px 2px $box-shadow-color;
  margin: 32px auto 24px + (48px * $scale);

  &::after {
    background-color: $metal-color;
    box-shadow: 0 4px 4px 2px $box-shadow-color;
    content: '';
    display: block;
    position: relative;
  }
}

.device--phone {
  @include phone($scale: (280 / 600));

  @include mq($from: sm) {
    @include phone($scale: (400 / 600));
  }

  @include mq($from: md) {
    @include phone($scale: (450 / 600));
  }

  @include mq($from: lg) {
    @include phone($scale: (600 / 600));

    &.device--home {
      @include phone($scale: .875);
    }
  }
}

.device--tablet {
  @include tablet($scale: (280 / 600));

  @include mq($from: sm) {
    @include tablet($scale: (400 / 600));
  }

  @include mq($from: md) {
    @include tablet($scale: (450 / 600));
  }

  @include mq($from: lg) {
    $scale: (600 / 600);

    @include tablet($scale * .9);

    &.device--home {
      @include tablet($scale: .75);
    }
  }
}

.device--ipad {
  @include ipad($scale: (280 / 600));
  @include mq($from: sm) {
    @include ipad($scale: (400 / 600));
  }
  @include mq($from: md) {
    @include ipad($scale: (450 / 600));
  }
  @include mq($from: lg) {
    @include ipad($scale: (600 / 600));
    &.device--home {
      @include ipad($scale: .75);
    }
  }
}

.window {
  @include window($scale: (320 / 960));

  @include mq($from: sm) {
    @include window($scale: (480 / 960));
  }

  @include mq($from: md) {
    @include window($scale: (720 / 960));
  }

  @include mq($from: lg) {
    @include window($scale: (960 / 960));

    &.window--home {
      @include window($scale: .75);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
