.home-hero {
  @include mq($from: sm) {
    padding-bottom: 96px;
  }

  padding-bottom: 84px;
  padding-top: 56px;
  text-align: center;

  p {
    margin: 0;
  }
}

.profile-image {
  @include mq($from: sm) {
    height: 256px;
    margin-bottom: 28px;
    width: 256px;
  }

  background: $red;
  border-radius: 50%;
  height: 168px;
  margin-bottom: 24px;
  width: 168px;
}


.post-grid__post {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-grid__post-card {
  @include mq($from: sm) {
    height: 600px;
  }
  @include mq($from: md) {
    height: 680px;
  }
  @include mq($from: lg) {
    height: 700px;
  }
  flex-grow: 1;
  height: 480px;
  overflow: hidden;
}

.post-card {
  position: relative;
}

.post-card__link {
  @include hide-text;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.post-info {
  @include mq($from: sm) {
    padding-top: 52px;
  }

  padding-top: 32px;

  a {
    color: $white;
  }
}

.post-info__title {
  margin-bottom: 8px;
}

.post-info__tagline {
  @include font-stack;
  @include mq($from: sm) {
    font-size: 20px;
    line-height: (24 / 20);
  }
  color: $white-87;
  font-size: 16px;
  letter-spacing: 0;
  line-height: (24 / 16);
  margin: 0;
}

.section-title {
  @include mq($from: sm) {
    padding: 32px $padding-x-sm 8px;
  }

  @include mq($from: lg) {
    padding: 32px $padding-x-lg 0;
  }

  display: flex;
  padding: 32px $padding-x-xs 8px;

  h2 {
    @include mq($from: sm) {
      font-size: 34px;
      line-height: (40 / 34);
    }
    font-size: 28px;
    font-weight: 400;
    line-height: (32 / 28);
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }
}
