.site-header {
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: var(--toolbar-background-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .12);
}

.page-content {
  padding-top: var(--toolbar-height);
  display: flow-root;
}

.site-toolbar {
  height: var(--toolbar-height);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: $grey;
}

.site-title {
  @include mq($from: sm) {
    width: initial;
  }

  flex: 1;
  display: flex;
  justify-content: center;
}

.site-title-link {
  color: var(--text-color);
  display: block;
  font-size: 20px;
  text-align: center;
  letter-spacing: .025em;

  font-weight: 800;
  line-height: 24px;
  padding: auto;
  white-space: nowrap;

  @include mq($from: sm) {
    font-size: 22px;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon {
  user-select: none;
  cursor: pointer;

  > svg {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}



.icon--moon {
  stroke: var(--accent-color);
  fill: none;
  user-select: none;
  cursor: pointer;

  > svg {
    display: block;
  }

  .t-dark & {
    fill: var(--accent-color);
  }
}

.icon--back {

  path, polyline {
    stroke: var(--accent-color);
  }
}


.name {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home .back-button {
  visibility: hidden;
}
