.site-header {
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .12);
}

.page-content {
  padding-top: 56px;
  display: flow-root;
}

.site-toolbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: $grey;
}

.site-title {
  @include mq($from: sm) {
    width: initial;
  }

  flex: 1;
  // text-align: center;
  // margin-left: 40px;
}

.site-title-link {
  color: $text-color;
  display: block;
  font-size: 20px;

  @include bold;
  line-height: 24px;
  margin-left: -16px;
  padding: 16px;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  margin-left: 16px;
  stroke: $red-light;
  fill: none;
  user-select: none;
  cursor: pointer;

  > svg {
    display: block;
  }

  .t-dark & {
    fill: $red-light;
  }
}

.name {
  flex: 1;
  display: flex;
  justify-content: center;
}
