.site-header {
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: var(--toolbar-background-color);
  border-color: var(--toolbar-background-color);
  border-width: 1px 1px 0;
  margin: -1px -1px 0;
  box-shadow: 0px 1px 8px rgba(#1D262A, .07);
}

.page-content {
  padding-top: var(--toolbar-height);
  @extend %clearfix;
}

.site-toolbar {
  height: var(--toolbar-height);

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: $grey;
}

.site-title {
  @include mq($from: sm) {
    width: initial;
  }

  flex: 1;
  display: flex;
  justify-content: center;
}

.site-title-link {
  color: var(--text-color);
  display: block;
  font-size: 22px;
  text-align: center;
  // letter-spacing: .025em;

  font-weight: 675;
  line-height: 1;
  padding: auto;
  white-space: nowrap;

  @include mq($from: sm) {
    font-size: 25px;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon {
  user-select: none;
  cursor: pointer;

  > svg {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}



.icon--moon,
.icon--back-ios {
  fill: none;
  user-select: none;
  cursor: pointer;
  fill: var(--text-color);

  &:hover {
    fill: var(--accent-color);
  }

  > svg {
    display: block;
  }

  .t-dark & {
    fill: var(--text-color);
    &:hover {
      fill: var(--accent-color);
    }
  }
}

.icon--back {
  fill: var(--text-color);

  &:hover {
    fill: var(--accent-color);
  }

  > svg {
    display: block;
  }

  .t-dark & {
    fill: var(--text-color);
    &:hover {
      fill: var(--accent-color);
    }
  }
}

// .icon--back {

//   path, polyline {
//     stroke: var(--text-color);
//   }

//   &:hover path,
//   &:hover polyline {
//     stroke: var(--accent-color);
//   }
// }


.name {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home .back-button {
  visibility: hidden;
}
