---
layout: default
---

<div class="col-full col-full--home">
  <h1 class="home-title">Things I’ve worked on</h1>

  <div class="grid">
    {% for page in site.categories["work"] %}
    <article class="card">
      <a href="{% if page.link %}{{ page.link }}{% else %}{{ page.url | relative_url }}{% endif %}" class="card__link" tabindex="-1">{{ page.title }}</a>

      <div class="card__thumbnail">
        <img src="{{ page.image.main }}" alt="{{ page.title }}" />
      </div>

      <div class="card__content card__content--work">
        <h1 class="card__title">{{ page.title }}</h1>
        {% if false and page.tagline %}
          <p class="card__tagline">{{ page.tagline }}</p>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>

