---
layout: default
---

{% if page.image.show %}
  <div class="col-full--no-padding">
    <figure class="post-header-image">
      <img src="{{ page.image.src }}" alt="{{ page.title }}">
    </figure>
  </div>
{% endif %}

<div class="post container col">

  <article class="post-content">

    <header class="post-header">
      {% if page.category == 'links' %}
        <h1 class="post-title post-title--small">
          <a href="{{ page.link }}">
            {{ page.title }}
            <span class="post-link">({{ page.link | host }})</span>
          </a>
        </h1>
      {% else %}
        <h1 class="post-title">{{ page.title }}</h1>
      {% endif %}
      {% if page.tagline %}
        <p class="post-tagline">{{ page.tagline }}</p>
      {% endif %}
    </header>

    {{ content }}

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  </article>

</div>
