---
layout: home
description: "Dale Stillman is a web developer blogging about design, technology, and modern front-end technologies like html, javascript, sass, and nodejs."
---

<h2>About Dale</h2>

<p>I'm a versatile technology leader who loves tackling complex technical challenges and turning them into elegant solutions. My passion lies in bringing teams together, driving innovation, and creating transformative technical strategies that make a real impact. Whether I'm optimizing systems, mentoring teams, or crafting new solutions, I bring enthusiasm and strategic thinking to every project I touch.</p>

<h2>Experience</h2>

{% for institution in collections.employers %}
  {% include "components/components.institution.html" %}
{% endfor %}

<h2>Education</h2>

{% for institution in collections.educators %}
  {% include "components/components.institution.html" %}
{% endfor %}

<h2>Get in touch</h2>

<p>
  Drop me an email at: <a href="mailto:dale@dalestillman.com" class="c-link">dale@dalestillman.com</a>
</p>

{% include "components/components.social-menu.html" %}
