---
layout: page
title: Now
---


<div class="o-wrapper-l">
  {% include "components/components.instagram-grid.html" %}
</div>

<div class="o-wrapper u-margin-vertical-xxlarge s-article">
  <h2>What I’m doing now</h2>

  <p>
    I’m currently working as a software developer at <a href="https://www.magpiehq.com/" target="_blank">Magpie Technology</a>.
  </p>

  <h2>
    Me around the web
  </h2>

  {% include "components/components.social-menu.html" %}

  <p class="ts-meta u-margin-top-xlarge u-margin-bottom-small">
    Updated 12 June 2021 from Loughborough, England.
  </p>

  <p class="ts-meta">
    This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.
  </p>

</div>
