---
layout: default
title: Now
---

<div class="o-wrapper u-margin-top-xxlarge u-margin-bottom-xxlarge">
  <article class="s-article">
    <header>
      <h1 class="ts-page-title u-margin-bottom-xxlarge">{{ title }}</h1>
      <!-- <h1 class="ts-page-title u-margin-bottom-small">{{ title }}</h1> -->
      <!-- <p class="ts-post-tagline">What I’m doing now.</p> -->
    </header>

      <h2>What I’m doing now</h2>

      <p>
        Right now I am...
      </p>

      <ul>
        <li>Working 5 days a week as a web developer at <em><a href="https://www.adozeneggs.co.uk" target="_blank">a dozen eggs</a></em> in Loughborough</li>
        <li>Hanging with <a href="https://www.instagram.com/p/B1T3g8qHFvI/" target="_blank">my nephew</a></li>
        <li>Writing up some of my <a href="/work">work</a></li>
        <li>Listening to <em><a href="https://www.audible.co.uk/pd/Happy-Audiobook/1473568676" target="_blank">Happy</a></em> by Derren Brown</li>
        <li>Watching <em>Better Call Saul</em></li>
        <li>Waiting for football to resume</li>
      </ul>

      <p class="ts-meta u-margin-top-xxlarge">
        Updated 15th March 2020 from Loughborough, England.
      </p>

      <p class="ts-meta">
        This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.
      </p>

    </article>

    <!-- <hr class="u-margin-top-xlarge u-margin-bottom-xlarge">

    <ul class="c-social-menu">
      {% for item in social_accounts %}
      <li class="c-social-menu__item">
        <a class="c-social-menu__link" target="_blank" href="https://{{item.site}}.com/{{item.username}}">
          {% include "svg/social/" + item.site  + ".svg" %}
          {{item.site|capitalize}}
        </a>
      </li>
      {% endfor %}
    </ul> -->
</div>
