---
layout: page
exclude: true
title: Work
feature_text: "A collection of some of my favourite things I’ve worked on.
        Recent projects are made in collaboration with my team at
        <em>a dozen eggs</em>.
        <a href=\"https://www.adozeneggs.co.uk/portfolio\" target=\"_blank\">View our full portfolio</a>."
---

<div class="o-wrapper-wide">
  <ol class="o-card-layout">
    {% set posts = collections.work | reverse %}
    {% for post in posts %}
      <li class="o-card-layout__item">{% include "components/components.work-card.html" %}</li>
    {% endfor %}
  </ol>
</div>
