.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-cyan {
  background-color: $cyan;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-blue-grey {
  background-color: $blue-grey;
}
