@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: normal;
  src: local('Charter'),
       url('/fonts/charter_regular-webfont.woff2') format('woff2'),
       url('/fonts/charter_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: normal;
  src: local('Charter Italic'),
       local('Charter-Italic'),
       url('/fonts/charter_italic-webfont.woff2') format('woff2'),
       url('/fonts/charter_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: bold;
  src: local('Charter Bold'),
       local('Charter-Bold'),
       url('/fonts/charter_bold-webfont.woff2') format('woff2'),
       url('/fonts/charter_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: bold;
  src: local('Charter Bold Italic'),
       local('Charter-BoldItalic'),
       url('/fonts/charter_bold_italic-webfont.woff2') format('woff2'),
       url('/fonts/charter_bold_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'),
       local('RobotoMono-Regular'),
       url('/fonts/robotomono-regular-webfont.woff2') format('woff2'),
       url('/fonts/robotomono-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('/fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'),
       local('Roboto-Italic'),
       url('/fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('/fonts/roboto-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('/fonts/roboto-medium-webfont.woff') format('woff');
}
