@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 400;
  src: local('.SFNSDisplay'),
       local('Roboto'),
       local('Roboto-Regular');
}

@font-face {
  font-family: 'display';
  font-style: normal;
  font-weight: 500;
  src: local('.SFNSDisplay-Semibold'),
       local('Roboto Medium'),
       local('Roboto-Medium');
}

@font-face {
  font-family: 'display';
  font-style: italic;
  font-weight: 400;
  src: local('.SFNSDisplay-Italic'),
       local('Roboto Italic'),
       local('Roboto-Italic');
}

@font-face {
  font-family: 'display';
  font-style: italic;
  font-weight: 500;
  src: local('.SFNSDisplay-SemiboldItalic'),
       local('Roboto Medium Italic'),
       local('Roboto-MediumItalic');
}

@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 400;
  src: local('.SFNSText'),
       local('Roboto'),
       local('Roboto-Regular');
}

@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 500;
  src: local('.SFNSText-Semibold'),
       local('Roboto Medium'),
       local('Roboto-Medium');
}

@font-face {
  font-family: 'text';
  font-style: italic;
  font-weight: 400;
  src: local('.SFNSText'),
       local('Roboto Italic'),
       local('Roboto-Italic');
}

@font-face {
  font-family: 'text';
  font-style: italic;
  font-weight: 500;
  src: local('.SFNSText-SemiboldItalic'),
       local('Roboto Medium Italic'),
       local('Roboto-MediumItalic');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'),
       local('RobotoMono-Regular'),
       url('/fonts/robotomono-regular.woff2') format('woff2');
}
