.col-full {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1052px + (($padding-x-lg + $margin-lg) * 2);
  position: relative;
}

.col-full--no-padding {
  margin-left: auto;
  margin-right: auto;
  max-width: 1052px + ($margin-lg * 2);
  position: relative;
}

.col {
  @include mq($from: sm) {
    max-width: 704px + (($padding-x-sm + $margin-sm) * 2);
  }

  @include mq($from: lg) {
    max-width: 704px + (($padding-x-lg + $margin-lg) * 2);
  }

  margin-left: auto;
  margin-right: auto;
  max-width: 704px + (($padding-x-xs + $margin-xs) * 2);
}

.detail-wrapper {
  @extend %clearfix;
}

.youtube {
  @extend %vertical-rhythm;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.container {
  @include mq($from: sm) {
    padding-left: $padding-x-sm + $margin-sm;
    padding-right: $padding-x-sm + $margin-sm;
  }

  @include mq($from: lg) {
    padding-left: $padding-x-lg + $margin-lg;
    padding-right: $padding-x-lg + $margin-lg;

    &.post-info {
      padding-left: 52px;
      padding-right: 52px;
    }
  }

  padding-left: $padding-x-xs + $margin-xs;
  padding-right: $padding-x-xs + $margin-xs;
}
