@mixin font-stack {
  font-family:
    IBM Plex Sans,
    sans-serif;
}

@mixin monospace {
  font-family: IBM Plex Mono, Menlo, Roboto Mono, monospace, sans-serif;
  font-weight: 450;
}

body {
  color: var(--text-color);
  @include font-stack;
}


h2 {
  font-size: var(--font-size-h2);
  line-height: 1.2;

  margin-top: var(--spacing-unit-large);
}


h3 {
  margin-top: calc(var(--body-line-height) * var(--body-font-size) * 1.5);
  margin-bottom: calc(var(--body-line-height) * var(--body-font-size) * .5);
  font-size: var(--body-font-size);
}

h1, h2, h3 {
  font-weight: 675;
}

a {
  text-decoration: none;
}

.page-content a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;

  &:hover {
    color: var(--accent-color);
  }
}

blockquote {
  border-left: 2px solid var(--quote-border-color);
  padding: 0 0 0 var(--spacing-unit-small);

  > p {
    font-size: calc(var(--body-font-size) - 1px);
  }
}

q {
  @include mq($from: sm) {
    font-size: 34px;
    line-height: 40px;
  }

  color: $red;
  color: $red-light;
  display: block;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 32px;
  margin: 40px 0;

  &::before,
  &::after {
    content: '';
  }
}

pre,
code {
  @include mq($from: sm) {
    font-size: 15px;
  }

  @include monospace;
  font-size: (20px/1.5);
}

.post-tagline {
  font-size: 24px;
  line-height: var(--body-line-height);
}

.post-link {
  @include mq($from: sm) {
    font-size: 20px;
    line-height: (24 / 20);
  }
  color: $caption-color;
  font-size: 16px;
  letter-spacing: 0;
  line-height: (20 / 16);
}

.home-title {
  margin-top: 67.5px;
  margin-bottom: 45px;
  @include scaled-font-size(--font-size-h1);
  @include scaled-line-height(--h1-line-height);
}
