@mixin content-type {
  @include mq($from: sm) {
    font-size: 18.5px;
    line-height: (32 / 18.5);
  }

  @include text;
  font-size: 17px;
  line-height: (28 / 17);
}

@mixin display {
  font-family: display, system-ui, sans-serif;
}

@mixin text {
  font-family: text, system-ui, sans-serif;
}

@mixin monospace {
  font-family: Menlo, Roboto Mono, monospace, sans-serif;
}

body {
  color: $text-color;
}

h1,
h2,
.post-excerpt,
.site-title,
.site-tagline {
  @include display;
}

figcaption,
.post-meta, {
  @include text;
}

.large {
  font-size: 56px;
  letter-spacing: -.005em;
  font-weight: 500;
  color: #fff;
  margin-top: 48px;
}

h1 {
  @include mq($from: sm) {
    font-size: 34px;
    line-height: (40 / 34);
  }

  font-size: 24px;
  font-weight: 500;
  letter-spacing: -.005em;
  line-height: (32 / 24);

  > a {
    color: inherit;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}

h2 {
  @include mq($from: sm) {
    font-size: 24px;
    line-height: (32 / 24);
    margin-top: 80px;
  }

  font-size: 20px;
  font-weight: 500;
  line-height: (28 / 20);
  margin-top: 52px;
}


h3 {
  font-size: 1em;
  font-weight: 500;
}

a {
  color: material-color('red', 'a200');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.post-content {
  @include content-type;
}

blockquote {
  @include mq($from: sm) {
    padding: 0 0 0 40px;
  }

  @include mq($from: lg) {
    padding: 0 0 0 48px;
  }

  border-left: 2px solid $quote-border-color;
  padding: 0 0 0 24px;

  > p {
    font-style: italic;
  }
}

q {
  @include mq($from: sm) {
    font-size: 34px;
    line-height: (40 / 34);
  }

  @include display;
  color: $red;
  display: block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: (32 / 24);
  margin: 40px 0;

  &::before,
  &::after {
    content: '';
  }
}

pre,
code {
  @include mq($from: sm) {
    font-size: 15px;
  }

  @include monospace;
  font-size: (20px/1.5);
}

.home-title {
  @include mq($from: sm) {
    font-size: 64px;
  }

  font-weight: 500;

  font-size: 45px;
  letter-spacing: -.01em;
  line-height: 1;
  margin-bottom: 12px;
}

.page-title {
  @include mq($from: sm) {
    font-size: 56px;
    line-height: (64 / 56);
  }

  font-size:  45px;
  font-weight: 500;
  letter-spacing: -.005em;
  line-height: (48 / 45);
}

.site-tagline {
  @include mq($from: sm) {
    font-size: 24px;
    line-height: (32 / 24);
  }

  color: $caption-color;
  font-size: 20px;
  line-height: (28 / 20);
}

.site-nav--link {
  @include text;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.post-excerpt {
  @include mq($from: sm) {
    font-size: 24px;
    line-height: (32 / 24);
  }

  color: $caption-color;
  font-size: 20px;
  letter-spacing: 0;
  line-height: (28 / 20);
}

.post-tagline {
  margin-top: 0;
}

.post-link {
  @include text;
  @include mq($from: sm) {
    font-size: 20px;
    line-height: (24 / 20);
  }
  color: $caption-color;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: (20 / 16);
}
